@import "assets/styles/variables.scss";
@import 'assets/styles/_mixins.scss';

.core__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  gap: 24px;
}
