@import 'assets/styles/variables.scss';

.link {
  text-decoration: none;
  font-family: $plusJakartaSans;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-primary;

  display: flex;
  align-items: center;
}
